*.py[cod]

# Packages
*.egg-info
dist/

# Unit test / coverage reports
.coverage
.tox
.testrepository
.venv

# Translations
*.mo

# Sphinx
doc/build
doc/source/sourcecode/

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
.*.swp
.*sw?
